#editor{
  min-height: 80px;
  padding-left: 0px !important;
 }
#fb-like-box{
	clear: both;
	margin-left: 10px;
}
#timeline li span img{
	width: 100%;
}
/******

****/


.wysibb-editor #editor{

  min-height: 400px;
  overflow-x: hidden;
}

.news-title{
	max-height: 150px;
	min-height: 100px
}
.view-news{
	display: table;
	min-height: 500px;
	width: 100%;
}
.view-news img{
	width:100%;
}
.view-news .content{
	
	margin-right:20px; 
	float:left;
}
.news-user{
	float:left;
	margin-right: 10px;
	margin-left: 7px;	
}
.media-body .news a{
	color:white;
}

iframe{
	border:0;
}
/*************************
FONTS  					 *
*************************/
/** CAVIAR DEAMS **/
@font-face {
	font-family: "Caviar Dreams";
	src: url("../fonts/CaviarDreams.ttf");
}
@font-face {
	font-family: "Caviar Dreams Bold";
	src: url("../fonts/CaviarDreamsBold.ttf");
}
@font-face {
	font-family: "Caviar Dreams Bold Italic";
	src: url("../fonts/CaviarDreams_BoldItalic.ttf");
}
@font-face {
	font-family: "Caviar Dreams Italic";
	src: url("../fonts/CaviarDreams_Italic.ttf");
}


/** VERA **/
@font-face {
	font-family: "Vera";
	src: url("../fonts/Vera.ttf");
}
@font-face {
	font-family: "Vera Bold";
	src: url("../fonts/Vera-Bold.ttf");
}
@font-face {
	font-family: "Vera Bold Italic";
	src: url("../fonts/Vera-Bold-Italic.ttf");
}
@font-face {
	font-family: "Vera Italic";
	src: url("../fonts/Vera-Italic.ttf");
}

/** ADAM **/
@font-face {
	font-family: "Adam";
	src: url("../fonts/ADAM.CG_PRO.otf");
}

/** VEGrandesign_Neue_SerifRA **/
@font-face {
	font-family: "Grandesign";
	src: url("../fonts/Grandesign_Neue_Serif.ttf");
}




@media screen and (min-width: 769px) {
    .cover img{
		max-height: 100%;
		max-width: 110%;
	}	
}





.sep-logo{
	/*border: 1px solid red;*/
	width: 170px;
	height: 50px;	
	left: 100%;
	margin-left: -200px;
	padding-top: 3px;
	position: relative;
}
.sep-logo img{
	width: 170px;
	height: 50px;	
}

/*************************
TIMELINE CONFIGURATION   *
*************************/

#conteudo {
    position: relative;
    height: 50px;
    overflow: hidden;
    border: 0px solid red;
} 
/*
#conteudo iframe{
    width: 870px;
    height: 600px;
    border: 0px solid red;
}
*/


.timeline-title{
	color: #797979;
}
.text-attachment-link {
	color: #000000;
}
.text-attachment-link a:hover{
	color: #ccc;
}
#text-attachment-display{
	display: none;
}
.text-attachment-display img{
	width: 40%;
	height: 40%;
}

/*************************
GENERAL CONFIGURATION   *
*************************/
.font_18{
	font-size: 18px;
}
.font_14{
	font-size: 14px;
}
.question_top{
	margin-top: 50px;
}

#nav-user{
	background: #5dc94b; /*#58c458 #577CBE*/
}

.questao br {
	white-space: nowrap;
}

#view{
	visibility: hidden;
}
.cover .top #upload a{
	z-index: 5px;
	font-size: 18px;
	color: #666;
}
.cover .top #upload a:hover{
	z-index: 5px;
	font-size: 18px;
	color: #ccc;
}
#upload_profile #upload_profile_update{
	visibility: hidden;
}

..pull-left {}
.pull-left  img{
	width: 40px;
}

#app-userinfo{
	padding-top: 24px;
}


/*************************
 PAGE THAT CREATE SIMULADO*
*************************/
#simulado{
	color: #666;
}
#simulado h3{
	font-family: "Vera";
}

#filter_result{
	min-height: 200px;
}
#iniciar-label{
	margin-left: 0px;
}
#iniciar-label h3{
	margin-left: 12px;
	font-family: "Vera Bold"
}
#cadastro-usuarios{
	margin-left: 0px;
}
#cadastro-usuarios h2{
	margin-left: 12px;
	font-family: "Vera Bold"
}

/*************************
* TIMELINE CONFIGURATION *
*************************/
.paginator{
	display: none;
}


#search-user{
	
}