
#tabela{ width: 100%; border: 1px solid #ccc;}

/****************************************
* CONFIGURAÇÃO DE FILTRO DA ARRAY TABLE *
*****************************************/
.array_table_count{
    color: #fff;
    margin-top:10px;
}
#filter_navigation{
    background: #ccc;
    display:table;
    width:100%;
    height: 45px;
    border-bottom:2px solid #888;
}

#filter_navigation .fields{
    padding-right:3px;
    padding-left: 3px;
    padding-top: 5px;
    border: 0px solid red;
}
#filter_navigation .large-3{
    height: 47px
}
#filter_navigation .button_align{
    margin-top:2px;
}
#module_table{
    width: 100%
}
/******************************
* CONFIGURAÇÃO DE TABLESORTER *
******************************/
table.table_sorter {
    border:1px solid #888;
    border-collapse:collapse;
    background-color: #ffffff;
    width: 100%;
    text-align: left;
    -moz-box-shadow:0 0 2px 1px #999;
    -webkit-box-shadow: 0 0 2px #999;
    box-shadow: 0px 0px 2px rgb(150,150,150);
}
table.table_sorter thead { background-repeat:repeat-x; background-position:top left; }
table.table_sorter thead tr th, table.table_sorter tfoot tr th {
    height:35px !important;
    background-repeat: repeat-x;
    background-position: top left;
    background-color:#ddd;
    border-bottom:2px solid #888;
    border-top:1px solid #888;
    text-transform: capitalize;
    font-weight:bold;
    color:#000;
    padding:0 0 0 7px;
    text-align:left;
}
table.table_sorter tfoot tr th { border-top: 1px solid #777; padding:5px; }
table.table_sorter thead tr .header {
    background-image: url(http://localhost/application/assets/img/icon_arrow_updown.gif);
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
    padding:0px 10px 0px 17px;
}
table.table_sorter tbody td {
    border-bottom:1px solid #ccc;
    padding:9px 7px;
    margin:0;
    vertical-align:top;
    background-color:#fff;
}
table.table_sorter tbody tr:hover { background-color: #ccc !important; }
table.table_sorter tbody td#column_before{ width:30px; border:1px solid #ccc; background-color: #f2f2f2 !important;}
table.table_sorter tbody td#column_after { width:01%;padding:12px; }
table.table_sorter tbody td a#acm_table_sorter_link { border:none; }
table.table_sorter tbody td a#acm_table_sorter_link:hover { border:none; }
table.table_sorter tbody tr.odd td { background-color:#f2f2f2; }
table.table_sorter thead tr .headerSortUp { background-image: url(http://localhost/application/assets/img/icon_arrow_up.gif); margin:0px 10px 0px 7px; }
table.table_sorter thead tr .headerSortDown { background-image: url(http://localhost/application/assets/img/icon_arrow_down.gif); margin:0px 10px 0px 7px; }
table.table_sorter thead tr .headerSortDown, table.table_sorter thead tr .headerSortUp { background-color: #f5f5f5; }
tr.conferido td { background-color:#d6edce !important; border-bottom:1px solid #5d9d49 !important;  }
tr.steelblue td { background-color:#d6dae1 !important; border-bottom:1px solid #597b98 !important;  }
tr.error_line td { background-color:#FFB0B0 !important; border-bottom:1px solid #B3685F !important;  }
#pagination_area{
    margin-top:0px;
    text-align:right;
    width:100%;
}
#pagination_area a#link_paginator{
    color:#000;
    text-decoration:none;
}
#pagination_area a#link_paginator:hover{
    color:#000;
    text-decoration:none;
}
#pagination_area a#link_paginator div#link{
    width:auto;
    height:40px;
    display:inline-block;
    padding:10px;
    margin:0 0 0 1px;
    text-align:center;
    vertical-align:middle;
    background-color:#e5e5e5;
    border:1px solid #888;
    -moz-box-shadow:0 0 2px 1px #999;
    -webkit-box-shadow: 0 0 2px #999;
    box-shadow: 0px 0px 2px rgb(150,150,150);
}
#pagination_area a#link_paginator div#link.actual_link{
    background-color:#c3c3c3;
    border:1px solid #999;
}
#pagination_area div#link_no_pagination{
    width:20px;
    height:20px;
    display:inline-block;
    margin:0 0 0 0px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}
/**************************
* CONFIGURAÇÃO DE ALERTAS *
**************************/
.msg_general {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-top: 3px;
    -moz-box-shadow:0 0 2px 1px #999;
    -webkit-box-shadow: 0 0 2px #999;
    box-shadow: 0px 0px 2px rgb(150,150,150);
    width:auto;
    height:auto;
    color:#000;
    font-size:12px;
    text-align:left;
    padding:0;
    margin:0;
}
.msg_general div:first-child {
    padding: 13px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-top: 3px;
}
.msg_general div img { float: left; }
.msg_general div img.close { float: right; margin: -4px -4px; width: 10px; cursor:pointer; }
.msg_general div h5 { display: inline-block !important; margin: -1px 0 5px 5px; }
.msg_general div div { margin: 0 0 0 21px; }
.note { background-color: #E9E9E9; border: 1px solid #999999; }
.note div:first-child { border:1px solid #F5F5F5; }
.warning { background-color: #FFE875; border: 1px solid #FFA724; }
.warning div:first-child { border:1px solid #FFFFC4; }
.info { background-color: /*#CCDEFF*/ #E7EBF2; border: 1px solid #597b98; }
.info div:first-child { border:1px solid #EBF0FF; }
.error { background-color: #FFB0B0; border: 1px solid /*#B3685F*/ #ae332d; }
.error div:first-child { border:1px solid #FFCFD9; }
.success { background-color: #b6dbaa; border: 1px solid #5d9d49; }
.success div:first-child { border:1px solid #d6edce; }

.info_panel{ height: 53px; padding:5px 0 0 0; }
.info_panel ul{list-style:none;}
.info_panel ul li:first-child {float: left; margin-left: 0px;}
.info_panel ul li{float: left; margin-left: 10px;}

