#box_group_view {
    border:1px solid #aaa;
    -moz-box-shadow:0 0 2px 1px #999;
    -webkit-box-shadow: 0 0 2px #999;
    box-shadow: 0px 0px 2px rgb(150,150,150);
}

#box_group_view #label_view {
    padding:7px 7px 7px 10px;
    font-weight:bold;
    font-size:11px;
    width:100px;
    text-align:left;
    display:inline-block;
    vertical-align:top;
}

#box_group_view #field_view {
    padding:7px;
    width:700px;
    text-align:left;
    display:inline-block;
    vertical-align:top;
}

img { border:none; }

#box_group_view.modal #field_view { width:500px; }
#box_group_view .odd { background-color:#D3D3D3; }

/******************************************************/
/* Sessão de Estilos para MODAL                       */
/******************************************************/
#simplemodal-overlay { background-color:#000;}
#loading_layer {
    background-color:#000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    opacity:.6;
    z-index:10000;
    width:100% !important;
    height:100% !important;
    position:absolute;
    top:0;
    left:0;
}

.modal {
    /*display:block;*/
    z-index:0;
    background-color:#fff;
    border:1px solid #888;
    max-width:1000px !important;
    max-height:750px !important;
    -moz-box-shadow:0 0 3px 50px #000;
    -webkit-box-shadow: 0 0px 50px #000;
    box-shadow: 0px 0px 50px rgb(000,000,000);
    text-align:left;
}

.modal div#header {
    height: 35px;
    background-color:#ddd;
    background-repeat:repeat-x;
    border-bottom: 2px solid #888;
    color:#000;
    cursor:default;
}

.modal div#header h6 {
    margin:0;
    padding:9px 0 0 33px;
    vertical-align:middle;
}

.modal div#header img {
    float:left;
    margin:9px 0 0 10px;
    width:16px;
}

.modal div#header img.img_close {
    float:right;
    margin:12px 12px 0 0;
    cursor:pointer;
    width:10px;
}

.modal div#content {
    margin:15px 3px 15px 15px;
    vertical-align:top;
    text-align:left;
    max-height:670px;
    overflow-y:auto;
    padding:0 10px 0 0;
    text-align:left;
}

.modal div#footer {
    background-color:#f5f5f5;
    margin-top:5px;
    height:10px;
    width:auto;
    border-top: 1px solid #bbb;
    min-width:0;
}

.generic_box {
    /*display:block;*/
    z-index:10000;
    background-color:#fff;
    border:1px solid #888;
    -moz-box-shadow:0 0 3px 1px #999;
    -webkit-box-shadow: 0 0 3px #999;
    box-shadow: 0px 0px 3px rgb(150,150,150);
}

.generic_box div#header {
    height: 35px;
    background-color:#ddd;
    background-repeat:repeat-x;
    border-bottom: 2px solid #888;
    color:#000;
    cursor:default;
}

.generic_box div#header h6 {
    margin:0;
    padding:9px 0 0 33px;
    vertical-align:middle;
}

.generic_box div#header img {
    float:left;
    margin:9px 0 0 10px;
}
}

.generic_box div#header img#close {
    float:right;
    margin:12px 12px 0 0;
    cursor:pointer;
    width:10px;
}

.generic_box div#content {
    margin:10px;
    vertical-align:top;
    text-align:left;
}

.generic_box div#footer {
    background-color:#f5f5f5;
    margin-top:5px;
    height:10px;
    width:auto !important;
    min-width: 100% !important;
    border-top: 1px solid #bbb;
}


