.dropdown-menu > li:hover > a, .dropdown-menu > li > a:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #327CCB !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
color: #327CCB;
border-color: #327CCB;
background-color: #327CCB;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li:hover > a, .navbar-default .navbar-nav > li.active > a:hover {
color: #327CCB;
}
.navbar-default .navbar-nav > li.active > a:focus {
color: #327CCB;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #327CCB;
}
.dropdown-menu > li:hover > a, .dropdown-menu > li > a:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #327CCB !important;
}
.navbar .social-icons i:hover {
color: #327CCB;
}
.btn-primary,
a.btn-primary {
  background-color: #7293cf;
}
a.btn-outline.btn-primary, .btn-outline.btn-primary {
border-color: #327CCB;
color: #327CCB;
}
a.btn-outline.btn-primary:hover, a.btn-outline.btn-primary.active, a.btn-outline.btn-primary:active, a.btn-outline.btn-primary:focus,
.btn-outline.btn-primary:hover, .btn-outline.btn-primary.active, .btn-outline.btn-primary:active, .btn-outline.btn-primary:focus {
background-color: #327CCB;
}
a.btn-outline.btn-white:hover, a.btn-outline.btn-white.active, a.btn-outline.btn-white:active, a.btn-outline.btn-white:focus,
.btn-outline.btn-white:hover, .btn-outline.btn-white.active, .btn-outline.btn-white:active, .btn-outline.btn-white:focus {
color: #327CCB;
}
a:active, a:hover {
color: #327CCB;
}
.color-primary {
color: #327CCB !important;
}
.bg-primary {
background-color: #327CCB !important;
}
.border-primary {
border-color: #327CCB !important;
}
.blog-img-hover .hover-full i {
	color: #327CCB;
}
.blog-img-hover .hover-full i:hover {
background-color: #327CCB;
}
.blog-img-hover .hover-left i {
	color: #327CCB;
}
.blog-img-hover .hover-right i {
	color: #327CCB;
}
.blog-img-hover .hover-left i:hover, .blog-img-hover .hover-right i:hover {
background-color: #327CCB;
}
#blog-fullwidth .expand-img i {
color: #327CCB;
}
#blog-fullwidth .expand-img:hover i {
background-color: #327CCB;
}
#sidebar .widget_calendar #wp-calendar #prev a:hover, #sidebar .widget_calendar #wp-calendar #next a:hover {
color: #327CCB;
}
.scrollup i:hover {
background-color: #327CCB;
}
.social-icons i:hover {
color: #327CCB;
}
#accordion .panel a.selected .panel-heading {
background-color:#327CCB;
border-radius:0;
}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
color:#327CCB;
}
.nav-tabs > li.active > a {
border-bottom:3px solid #327CCB;
}
.nav-tabs#tabs > li.active > a {
border-bottom:3px solid #327CCB;
}
.portfolio-hover-buttons a:hover {
color: #327CCB;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
color: #327CCB;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
background-color: #327CCB;
border-color: #327CCB;
}
.progress-bar {
  background-color: #327CCB;
}
.footer .social-icons i:hover {
background-color: #327CCB;
}
.footer a:active, .footer a:hover {
color: #327CCB;
}